
<div class="container mt-4">

  <div class="jumbotron">
    <h1 class="display-4">FIPE Car Coonsult</h1>
    <p class="lead">Consulte o preço médios de veículos.</p>
    <hr class="my-4">
    <div class="row">
      <div class="col-md-4">
        <app-search-brand></app-search-brand>
      </div>
      <div class="col-md-4">
        <app-search-model></app-search-model>
      </div>
      <div class="col-md-4">
        <app-search-year></app-search-year>
      </div>
      <div class="col-md-12">
        <app-panel-car-info></app-panel-car-info>
      </div>
    </div>
  </div>
</div>